@model JapanoriSystem.Models.ProdutoComanda


@{
    ViewBag.Title = "Inserir";
}

<div class="barra">

    <div class="barra-fundo">

        <ul class="nav navbar-nav">
            <li><img style="margin-top: 5px; width: 40px; height: 40px;" src="~/Source/add-64.png" /></li>
            <li><h3 style="position:absolute;width:300px;margin-top:12px;">Adicionar Produto</h3></li>
        </ul>

    </div>

</div>
<br />
<br />
<hr />

@if (ViewBag.addProduto == null)
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">



            <br />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <h4>ID da Comanda</h4>
                <div class="col-md-10">
                    @Html.TextBox("ComandaID", "", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ComandaID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h4>ID do Produto</h4>
                <div class="col-md-10">
                    @Html.TextBox("ProdutoID", "", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ProdutoID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h4>Quantidade</h4>
                <div class="col-md-10">
                    @Html.TextBox("Quant", 1, htmlAttributes: new { id = "Quant", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Quantidade, "", htmlAttributes: new { @class = "text-danger" })
                </div>
            </div>

            @if (ViewBag.ConfirmErro != null)
            {
                <p>@ViewBag.MsgErro</p>
            }
            @if (ViewBag.ConfirmSuc != null)
            {
                <p>@ViewBag.MsgSuc</p>
            }
            <br />
            <br />
            <div class="form-group">
                <div class="">
                    <input type="submit" value="Salvar" class="btn btn-success" /> |
                    @Html.ActionLink("Voltar para Lista", "Index", "", htmlAttributes: new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    }
}

