@model JapanoriSystem.Models.ProdutoComanda

@{
    ViewBag.Title = "Editar";
}

<div class="barra">

    <div class="barra-fundo">

        <ul class="nav navbar-nav">
            <li><img style="margin-top: 5px; width: 40px; height: 40px;" src="~/Source/edit(2).png" /></li>
            <li><h3 style="position:absolute;width:300px;margin-top:12px;">Editar Produto</h3></li>
        </ul>

    </div>

</div>

<br />

@if (ViewBag.UpdateProduto == null)
{
    using (Html.BeginForm())
    {
        <div class="hide">
            @Html.TextBoxFor(model => model.ComandaID, htmlAttributes: new { id = "ComandaID", @class = "form-control", value = ViewBag.ID })
        </div>
        @Html.AntiForgeryToken()
        <div class="form-horizontal">


            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ProdutoComandaID, htmlAttributes: new { id = "ProdutoComandaID" })

            <div class="form-group">
                @Html.LabelFor(model => model.ComandaID, "ComandaID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.ComandaID)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProdutoID, "ProdutoID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ProdutoID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ProdutoID, "", new { @class = "text-danger" })
                </div>
            </div>
            @* === Quantidade === *@

            <div class="form-group">
                @Html.LabelFor(model => model.Quantidade, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Quantidade, new { htmlAttributes = new { @class = "form-control" } })

                    @Html.ValidationMessageFor(model => model.Quantidade, "", new { @class = "text-danger" })
                </div>
            </div>
            @if (ViewBag.ConfirmErro != null)
            {
                <p>@ViewBag.MsgErro</p>
            }
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <div class="form-group">

                <input type="submit" value="Salvar" class="btn btn-success" @*onclick="PcUpdate()"*@ /> | 
                @Html.ActionLink("Voltar", "Caixa", new { id = Model.ComandaID },htmlAttributes: new { @class="btn btn-default"})
            </div>
        </div>
    }
}
