@model JapanoriSystem.Models.ProdutoComanda

@{
    ViewBag.Title = "Excluir";
}

<div class="barra">

    <div class="barra-fundo">

        <ul class="nav navbar-nav">
            <li><img style="margin-top: 5px; width: 40px; height: 40px;" src="~/Source/delete.png" /></li>
            <li><h3 style="position:absolute;width:300px;margin-top:12px;">Excluir Produto</h3></li>
        </ul>

    </div>

</div>

<br />

@if (ViewBag.DeleteProduto == null)
{
    using (Html.BeginForm())
    {
        <div class="hide">
            @Html.TextBoxFor(model => model.ComandaID, htmlAttributes: new { id = "ComandaID", @class = "form-control", value = ViewBag.ID })
        </div>
        @Html.AntiForgeryToken()
        <div class="form-horizontal">

            <h2>Tem certeza que deseja excluir este produto?</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ProdutoComandaID, htmlAttributes: new { id = "ProdutoComandaID" })

            <div class="form-group">
                @*@Html.LabelFor(model => model.Produto, "ComandaID", htmlAttributes: new { @class = "control-label col-md-2" })*@

                <div class="col-md-10">
                    <h4>Produto:</h4>
                    @Html.DisplayFor(model => model.Produto.Nome)
                </div>
            </div>

            @if (ViewBag.ConfirmErro != null)
            {
                <p>@ViewBag.MsgErro</p>
            }
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <div class="form-group">

                <input type="submit" value="Excluir" class="btn btn-danger" /> | 
                @Html.ActionLink("Voltar", "Caixa", new { id = Model.ComandaID },htmlAttributes:new { @class="btn btn-default"})
            </div>
        </div>
    }
}
