@model IEnumerable<JapanoriSystem.Models.ProdutoComandaVendas>

@{
    ViewBag.Title = "Detalhes";
}

<div class="barra">

    <div class="barra-fundo">

        <ul class="nav navbar-nav">
            <li><img style="margin-top: 5px; width: 40px; height: 40px;" src="~/Source/money.png" /></li>
            <li><h3 style="position:absolute;width:300px;margin-top:12px;">Detalhes Venda</h3></li>
        </ul>

    </div>

</div>

<br />

<div>
    <h2>Venda ID: @ViewBag.idVenda</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vendas.NomeFuncionario)
        </dt>
        <dd>
            @ViewBag.NomeFunc
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vendas.FormaPag)
        </dt>

        <dd>
            @ViewBag.FormaPag
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vendas.Comanda)
        </dt>
        <dd>
            @ViewBag.Comanda
        </dd>
    </dl>
    <br />
    <table class="table">
        <tr>
            <th>Nome do Produto</th>
            <th>Quantidade</th>
            <th>Valor Unitário</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProdutoComanda.Produto.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProdutoComanda.Quantidade)
                </td>
                <td>
                    R$ @Html.DisplayFor(modelItem => item.ProdutoComanda.Produto.Preco)
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Voltar para Histórico", "Index","",htmlAttributes: new { @class="btn btn-default"})
</p>
