@model IEnumerable<JapanoriSystem.Models.Vendas>

@{
    ViewBag.Title = "Index";
}

<div class="barra">

    <div class="barra-fundo">

        <ul class="nav navbar-nav">
            <li><img style="margin-top: 5px; width: 40px; height: 40px;" src="~/Source/money.png" /></li>
            <li><h3 style="position:absolute;width:300px;margin-top:12px;">Histórico de Vendas</h3></li>
        </ul>

    </div>

</div>

<br />
<br />
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VendaID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeFuncionario)
        </th>
        <th>
            Comanda
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormaPag)
        </th>
        <th>
            Valor Total
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VendaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeFuncionario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comanda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormaPag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                @Html.ActionLink("Detalhes", "Details", new { id = item.VendaID })
            </td>
        </tr>
    }

</table>
